






{% extends "tienda/base.html" %}
{% block title %}Formulario de Calificación{% endblock %}

{% block content %}

<h2 class="fw-bold mb-4">
    {% if form.instance.pk %}
        Editar Calificación
    {% else %}
        Crear Calificación
    {% endif %}
</h2>

<div class="card shadow-sm p-4" style="max-width: 650px;">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="mt-3">
            <button type="submit" class="btn btn-success me-2">
                <i class="fas fa-save me-1"></i> Guardar
            </button>
            <a href="{% url 'lista_calificaciones' %}" class="btn btn-secondary">
                Cancelar
            </a>
        </div>
    </form>
</div>

{% endblock %}
