<footer class="d2c_footer_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <img src="{% static 'assets/images/footer_logo.png' %}" class="d2c_footer_logo img-fluid w-100 mb-4" alt="Footer Logo">
                <p>Professionally scale cross functional human capital and extensive technology.</p>
                <ul class="d2c_social_link list-group list-group-horizontal">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <!-- Quick Links, Company, Contact info (igual al original) -->
        </div>
        <div class="d2c_copy_wrapper">
            <h4 class="text-center">© 2023 <a href="https://www.designtocodes.com/" target="_blank">DesignToCodes</a>. All Right Reserved</h4>
        </div>
    </div>
</footer>
